defaultStorageClass: standard
installed:
  ingressNginx: false
  metalLB: false
  istio: false
  kiali: false
  longhorn: false
  loki: false
  prometheusStack: true
  jaeger: false
  opentelemetry: false
  rabbitMQ: false
  redis: false
  mongoDB: false
  minio: false
  datadog: false
  nifi: false
  camunda: false
  tika: false