persistence:
  enabled: true
  # storageClass: { { .Values.defaultStorageClass } }
  storageClass: standard
# ingress non funziona, va settato a mano
# ingress:
#   enabled: true
#   hosts:
#     - nifi.local
auth:
  singleUser:
    username: admin
    password: "fxyXr0M7ip44" #almeno 12 caratteri
