controller:
  ingress:
    enabled: true
    hostName: jenkins.local
    ingressClassName: nginx
  admin:
    username: admin
    password: jfKEFOEwyF
  # additionalPlugins: []

persistence:
  storageClass: standard
