ingress:
  enabled: true
  host: longhorn-{{ .Environment.Name }}.pcdacs.local
  ingressClassName: nginx
  tls: true
  annotations:
    cert-manager.io/cluster-issuer: "my-internal-ca"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
defaultSettings:
  defaultReplicaCount: {{ .Values.longhorn.volumeReplica }}