mode: distributed
ingress:
  enabled: true
  hostname: minio.local
  ingressClassName: nginx
global:
  defaultStorageClass:: {{ .Values.defaultStorageClass }}
auth:
  rootUser: admin
  rootPassword: jfKEFOEwyF