persistence:
  storageClass: {{ .Values.defaultStorageClass }}

image:
  tag: community

ingress:
  enabled: true
  hosts:
    - name: sonarqube-{{ .Environment.Name }}.pcdacs.local
      path: /
  ingressClassName: nginx

postgresql:
  persistence:
    storageClass: {{ .Values.defaultStorageClass }}

#credo vada modificata l'image tag di default altrimenti non la trova